<div>
  <h1>WELCOME TO MOVIE CATCHER</h1>
  <nb-card>
    <nb-card-body>
      <nb-card-header>
        <h3>INTRODUCTION</h3>
      </nb-card-header>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <h3>About</h3>
      <p>
        Here You can see List of Movies And Also Bookmark All of your Favourite
        Movies
      </p>
      <P> You can See Your Favourite Movies Under Bookmark Section Page </P>
      <p>You Can ADD and Delete Your Movies In Bookmark Page</p>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <h3>FUTURE</h3>
      <p>
        This Is In Development Phase I will Learn And Try to Add More Features
        To This
      </p>
      <p>Come-Back Soon !!</p>
      <P>Thanks For Visiting Us !!</P>
      <p>Have A Great Day</p>
    </nb-card-body> </nb-card
  ><nb-card>
    <nb-card-body>
      <h3>THANK YOU!!</h3>
      <p>Come-Back Soon !!</p>
      <P>Thanks For Visiting Us !!</P>
      <p>Have A Great Day</p>
    </nb-card-body>
  </nb-card>
</div>
